/* ====  */
@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-Heavy.eot");
  src: url("../../public/assets/fonts/CerebriSans-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-Heavy.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-Heavy.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-Bold.eot");
  src: url("../../public/assets/fonts/CerebriSans-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-Bold.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-Bold.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-ExtraBold.eot");
  src: url("../../public/assets/fonts/CerebriSans-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-ExtraBold.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-ExtraBold.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-ExtraBold.ttf")
      format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-Medium.eot");
  src: url("../../public/assets/fonts/CerebriSans-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-Medium.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-Medium.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-Regular.eot");
  src: url("../../public/assets/fonts/CerebriSans-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-Regular.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-Regular.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cerebri Sans";
  src: url("../../public/assets/fonts/CerebriSans-SemiBold.eot");
  src: url("../../public/assets/fonts/CerebriSans-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../public/assets/fonts/CerebriSans-SemiBold.woff2") format("woff2"),
    url("../../public/assets/fonts/CerebriSans-SemiBold.woff") format("woff"),
    url("../../public/assets/fonts/CerebriSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.ip {
  width: 8em;
  height: 4em;
}
.ip__track {
  stroke: hsl(var(--hue),90%,90%);
  transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
  animation: worm1 2s linear infinite;
}
.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),90%,5%);
    --fg: hsl(var(--hue),90%,95%);
  }
  .ip__track {
    stroke: hsl(var(--hue),90%,15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }
  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -358;
  }
  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 358;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes worm2 {
  from {
    stroke-dashoffset: 358;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -358;
  }
}

:root {
  --hue: 205;
  --bg: hsl(var(--hue),10%,90%);
  --fg: hsl(var(--hue),10%,10%);
  --primary: hsl(var(--hue),90%,55%);
  --trans-dur: 0.3s;
  font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

.cart {
  display: block;
  margin: 0 auto 1.5em auto;
  width: 8em;
  height: 8em;
}
.cart__lines,
.cart__top,
.cart__wheel1,
.cart__wheel2,
.cart__wheel-stroke {
  animation: cartLines 2s ease-in-out infinite;
}
.cart__lines {
  stroke: var(--primary);
}
.cart__top {
  animation-name: cartTop;
}
.cart__wheel1 {
  animation-name: cartWheel1;
  transform: rotate(-0.25turn);
  transform-origin: 43px 111px;
}
.cart__wheel2 {
  animation-name: cartWheel2;
  transform: rotate(0.25turn);
  transform-origin: 102px 111px;
}
.cart__wheel-stroke {
  animation-name: cartWheelStroke
}
.cart__track {
  stroke: hsla(var(--hue),10%,10%,0.1);
  transition: stroke var(--trans-dur);
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),10%,10%);
    --fg: hsl(var(--hue),10%,90%);
  }
  .cart__track {
    stroke: hsla(var(--hue),10%,90%,0.1);
  }
}

/* Animations */
@keyframes msg {
  from {
    opacity: 1;
    visibility: visible;
  }
  99.9% {
    opacity: 0;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes cartLines {
  from,
  to {
    opacity: 0;
  }
  8%,
  92% {
    opacity: 1;
  }
}
@keyframes cartTop {
  from {
    stroke-dashoffset: -338;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 338;
  }
}
@keyframes cartWheel1 {
  from {
    transform: rotate(-0.25turn);
  }
  to {
    transform: rotate(2.75turn);
  }
}
@keyframes cartWheel2 {
  from {
    transform: rotate(0.25turn);
  }
  to {
    transform: rotate(3.25turn);
  }
}
@keyframes cartWheelStroke {
  from,
  to {
    stroke-dashoffset: 81.68;
  }
  50% {
    stroke-dashoffset: 40.84;
  }
}
